body {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-image: url("67045.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: 90px;
}
#mainTable {
  margin: 0 auto;
  margin-right: 20px;
  border: 3px solid #fff6f6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

#dice {
  justify-content: space-between;

  margin-left: 300px;
  margin-top: 0px;
}
