.ex1 {
  position: relative;
  top: 0;
  left: 0;
}
.ex2 {
  position: absolute;
  top: 60px;
  left: 80px;
}

table,
td {
  padding: 0px;
  margin: 0px;

  border-collapse: collapse;
  border-spacing: 0px;
  border: none;
}
img {
  display: block;
}

#menu {
  color: white;
}

#menu a {
  color: white;
}
